@charset "UTF-8";


.cart {
  background-color: #f1f0ec;
  min-height: 80vh;
  width: 1300px;
  margin: 55px auto 0;
  padding-top: 30px;
}

.cart-title {
  margin: 0 auto;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 0.8rem;
  padding: 0 1rem;
}

.cart-logo-icon {
  font-size: 2.8rem;
  color: green;
}

.cart-logo-name {
  padding-left: 4px;
  font-size: 18.8px;
  font-family: serif;
  font-weight: bold;
  color: #333;
  letter-spacing: 2px;
}

.cart-container {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
  padding-bottom: 20px;
}

.cart-detail {
  width: 836px;
  margin-left: 11px;
}

.cart-price-area {
  width: 403px;
  margin-right: 19px;
}

.cart-price-area-top {
  padding: 1rem;
  background: #dbd9cf;
}

.cart-table {
  border-collapse: collapse;
  width: 100%;
}

.cart-table th-tr {
  width: 820px;
  padding-top: 5px;
  margin: 0 auto;
  border: 1px solid #d4d4d4;
}

.cart-table tr {
  vertical-align: middle;
  border-bottom: 1px solid #d4d4d4;
}
.cart-table th {
  height: 36px;
  font-size: 0.85rem;
  font-weight: normal;
  background: #dbd9cf;
}

.cart-table td {
  text-align: center;
  font-size: 14px;
  background-color: white;
}

.cart-th1 {
  width: 409px;
}
.cart-th2 {
  width: 82px;
}
.cart-th3 {
  width: 123px;
}
.cart-th4 {
  width: 123px;
}
.cart-th5 {
  width: 82px;
}

.product-img-cell {
  display: flex;
  align-items: center;
}

.cart-table td a {
  line-height: 1.75;
  color: #383838;
  padding: 8px;
}

.cart-table td a:hover {
  color: rgb(163, 131, 75);
}

.cart-product-img {
  width: 82px;
  height: 82px;
  vertical-align: middle;
}

.trash-icon {
  font-size: 23px;
}

/* 注文内容欄 */
.cart-subtotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  border-top: solid 1px #383838;
  padding: 0.8rem;
}

.text {
  font-size: 14.176px;
  line-height: 1.42;
}

.amount {
  font-size: 1.625rem;
  font-weight: bold;
}

.price {
  width: 70%;
  font-weight: bold;
  text-align: right;
}

.sub-amount {
  font-size: 1.1rem;
}

.fontsize-mini {
  font-weight: normal;
  font-size: 0.75rem;
}

.ship-price-link {
  padding: 0.9rem 0 0.8rem;
  font-size: 14px;
  text-decoration: underline;
}

.ship-price-link:hover {
  color: rgb(163, 131, 75);
}

.shipping-info {
  text-align: right;
  color: red;
  font-weight: bold;
  padding-top: 0.3rem;
  padding-right: 0.8rem;
}

.shipping-info-return {
  display: block;
  padding-right: 0.8rem;
  text-align: right;
  text-decoration: underline;
}

.buy-button {
  /* background-color: rgb(117, 163, 91); */
  display: block;
  width: 370px;
  height: 50px;
  margin: 16px auto 7px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: darkgreen;
  opacity: 0.8;
  border-radius: 2%;
}

.buy-button:hover {
  background-color: darkgreen;
  opacity: 1;
}
.orange {
  color: orange;
  font-weight: initial;
}

.cart-shipping-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.8rem;
  margin-top: 2px;
  margin-bottom: 2px;
  flex-wrap: nowrap;
  border-top: solid 1px #383838;
  border-bottom: solid 1px #383838;
}

.cart-shipping-price text {
  padding-left: 0.8rem;
}

.cart-price-area-bottom {
  padding: 1rem 0 1rem;
}

.cart-price-area-bottom p {
  text-align: right;
}

.cart-price-area-bottom p a {
  text-decoration: underline;
}

.return-button {
  margin-top: 20px;
  padding: 0.65rem 1rem;
  background-color: rgb(131, 159, 163);
  color: white;
  border-radius: 2%;
}

.return-button:hover {
  background-color: #68878c;
}
