@charset "UTF-8";


h1 {
  font-family: serif;
  margin-bottom: 20px;
}
.container {
  display: flex;
}

main {
  margin-left: 31px;
  width: 986px;
  padding: 15px;
  border-radius: 2px;
}

.product-detail {
  display: flex;
}

.product-img {
  max-width: 300px;
  max-height: 200px;
}

.product-name {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: "Noto Serif JP",serif;
  font-weight: 600;
  font-style: normal;
  font-size: 21px;
  line-height: 1.3;
  color: #333;
}



/* スライド */
img {
  max-width: 650px;
  height   : 405px;
  margin: 0 auto;
  border-radius: 2px;
}

.slide {
  margin: 0 auto;
  width: 650px;
  /* background-color: red; */
}

.slider-for {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  background: #fff;
}
.slider-for figure img {
  max-width: 100%;
}

.slider-nav {
  margin-top: 115px;
}
.slider-nav figure img {
  width: 100px;
  height: 82px;
  margin: 0 auto;
}


/* 詳細情報 */
.description {
  display: flex;
  width: 100%;
  height: 500px;
  margin-top: 20px;
  padding: 24px;
  background: #f4f4f4;
}

.description-left img {
  width: 296px;
  height: 296px;
}

.description-right {
  margin-left: 24px;
}

.farm-name {
  font-family: serif;
  color: #333;
  line-height: 157%;
  text-decoration: none;
  font-size: 16px;
  margin-left: 3px;
  vertical-align: middle;
}
.farm-logo-icon {
  font-size: 1.8rem;
}

.flex {
  display: flex;
}

.ship-price-link{
  margin-bottom: 12px;
  font-weight: 700;
  font-family: sans-serif;
  text-decoration: underline;
  color: #383838;
}

.ship-price-link:hover{
  color: rgb(163,131,75);
}

.badge {
margin-top: 12px;
}

.badge img{
  width: 80px;
  height: 28px;
}
.amount {
  margin-top: 15px;
  font-size: 1.625rem;
  font-weight: bold;
}
.price-unit {
  font-size: 0.88em;
}
.attention{
  font-size: 0.68em;
}
.ship-info {
  margin-top: 19px;
  padding: 16px;
  color: #333;
  font-family: -apple-system,BlinkMacSystemFont,Noto Sans JP,sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.8;
  border-radius: 3px;
  border: 1px solid #333;
}
.ship-info p {
  font-size: 98%;
}

.buy-button {
  /* background-color: rgb(117, 163, 91); */
  display: block;
  width: 100%;
  height: 50px;
  margin: 16px auto 7px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #a98948;
  border-radius: 2%;
}

.buy-button:hover {
  background-color: #926d22;
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223,225,229,0);
}