@charset "UTF-8";


h1 {
  font-family: serif;
  margin-bottom: 20px;
}
.container {
  display: flex;
}

main {
  margin-left: 31px;
  width: 986px;
  padding: 15px;
  background-color: #f1f0ec;
  border-radius: 2px;
}

.product-detail {
  display: flex;
}

.product-img {
  max-width: 300px;
  max-height: 200px;
}

.product-name {
  font-size: 24px;
}

.product-price {
  font-size: 18px;
  color: red;
}