@charset "UTF-8";

/* サイドメニュー */
.side-area {
  display: flex;
  flex-direction: column;
  width: 254px;
  position: fixed;
  z-index: 10;
}


.blank {
  width: 254px;
}

.banner {
  width: 254px;
  height: 105px;
}

.banner:hover {
  opacity: 0.8;
}

.side-menu {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 8px;
  padding: 12px 8px 5px;
  background-color: rgb(237, 235, 230);
}

.side-menu-title {
  height: 45px;
  padding: 15px 8px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1px;
  background: #fff;
}

.side-menu-item:hover {
  color: #a98948;
}

.side-menu-title p {
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  color: #333;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 1px;
}

.side-menu ul {
  padding: 0 8px 12px;
}

.side-menu-item {
  height: 50px;
  border-top: 1px solid white;
}

.side-menu-item:last-child {
  border-bottom: 1px solid white;
}

.side-menu-item a {
  display: flex;
  align-items: center;
  display: block;
  /* height: 65px; */
  padding: 14px 8px;
  font-size: 1rem;
  font-weight: 600; 
  color: inherit;
}